@model IEnumerable<P2_2020MC601_2020GL601_2020RJ601.Models.Generos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-outline-info" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre_departamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_departamento)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.id_genero">Edit</a> |
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.id_genero">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.id_genero">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
