@*Formulario de registros de casos*@
@{
	IEnumerable<string> strDepa = new List<string> { "Hola", "prueba no mas" };
}
<div class="text-center mb-2 fw-semibold fs-4">Registro de Covid</div>
<div class="text-center mb-4">
	<p>El siguiente formulario es para llevar el registro de casos reportados de <br /> Covid por departamento y genero</p>
</div>

<form>
	<div class="h3 fw-bold mb-4">Reportar casos</div>

	<div class="form-group">
		<div class="row mb-1">
			<div class="col-sm-6">
				@Html.Label("lblbDepartamento","Departamento")
			</div>
			<div class="col-sm-6">
				@Html.Label("lblbDepartamento","Genero")
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-sm-6">
				@Html.DropDownList("ddldrop", new SelectList(strDepa) ,"--seleccione--", new {@class="form-control"})
			</div>
			<div class="col-sm-6">
				@Html.DropDownList("ddldrop", new SelectList(strDepa) ,"--seleccione--", new {@class="form-control"})
			</div>
		</div>
		@**@
		<div class="row mb-2">
			<div class="col-sm-4">
				@Html.Label("lblbDepartamento","Casosconfirmados")
			</div>
			<div class="col-sm-4">
				@Html.Label("lblbDepartamento","Numeros de Recuperados")
			</div>
			<div class="col-sm-4">
				@Html.Label("lblbDepartamento","Numero de fallecidos")
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-sm-4">
				@Html.TextBox("lblbDepartamento","", new {@class="form-control"})
			</div>
			<div class="col-sm-4">
				@Html.TextBox("lblbDepartamento","", new {@class="form-control"})
			</div>
			<div class="col-sm-4">
				@Html.TextBox("lblbDepartamento","", new {@class="form-control"})
			</div>
		</div>

		<div class="row mb-4">
			<div class="d-grid gap-2">
					<input type="submit" class="btn btn-success btn-block" value="Guardar Registro" />
				</div>
		</div>

		<hr />
		<br />
		<br />

	</div>
</form>
