@*Formulario de registros de casos*@
@{
	IEnumerable<string> strDepa = new List<string> { "Hola", "prueba no mas" };
}
<div class="text-center mb-2 fw-semibold fs-4">Registro de Covid</div>
<div class="text-center mb-4">
	<p>El siguiente formulario es para llevar el registro de casos reportados de <br /> Covid por departamento y genero</p>
</div>

<form>
	<div class="h3 fw-bold mb-4">Reportar casos</div>

	<div class="form-group">
		<div class="row mb-1">
			<div class="col-sm-6">
				@Html.Label("lblbDepartamento","Departamento")
			</div>
			<div class="col-sm-6">
				@Html.Label("lblbDepartamento","Genero")
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-sm-6">
				@Html.DropDownList("ddldrop", ViewData["listadoDeDepartamento"] as SelectList,"Seleccionar un departamento...", new {@class="form-control"})
			</div>
			<div class="col-sm-6">
				@Html.DropDownList("ddldrop", ViewData["listadoDeGenero"] as SelectList,"Seleccionar un Género...", new {@class="form-control"})
			</div>
		</div>
		@**@
		<div class="row mb-2">
			<div class="col-sm-4">
				@Html.Label("lblbDepartamento","Casos Confirmados")
			</div>
			<div class="col-sm-4">
				@Html.Label("lblbDepartamento","Numeros de Recuperados")
			</div>
			<div class="col-sm-4">
				@Html.Label("lblbDepartamento","Numero de Fallecidos")
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-sm-4">
				@Html.TextBox("lblbDepartamento","", new {@class="form-control"})
			</div>
			<div class="col-sm-4">
				@Html.TextBox("lblbDepartamento","", new {@class="form-control"})
			</div>
			<div class="col-sm-4">
				@Html.TextBox("lblbDepartamento","", new {@class="form-control"})
			</div>
		</div>

		<div class="row mb-4">
			<div class="d-grid gap-2">
					<input type="submit" class="btn btn-success" value="Guardar Registro" />
				</div>
		</div>

		<hr />
		<br />
		<br />
		<br />
		<br />
		<br />

		<table class="table caption-top" >
			<caption class="text-black fw-bold fs-4 mb-3">Casos Reportados</caption>
			<thead>
				<tr>
					<th>Departamento</th>
					<th>Genero</th>
					<th>Confirmados</th>
					<th>Recuperados</th>
					<th>Fallecidos</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Dato 1</td>
					<td>Dato 2</td>
					<td>Dato 2</td>
					<td>Dato 2</td>
					<td>Dato 2</td>
				</tr>
			</tbody>
		</table>


	</div>
</form>

